html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	padding: 5vh;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.editor-capsule {
	width: 100%;
	max-width: 100%;
	height: 90vh;
	margin: 0 auto;
	border: 0;
	padding: 1px;
	position: relative;
}

.actual-editor {
	height: calc(100% - 200px);
	width: 100%;
	padding: 14px;
	box-sizing: border-box;
	outline: 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	resize: none;
	font: lighter 16px/24px Verdana, Geneva, sans-serif;
	overflow-y: auto;
}

.actual-editor:active,
.actual-editor:focus,
.article-name:active,
.article-name:focus {
	border: 1px solid #ccc;
	outline: 0px solid transparent;
}

.article-name {
	border: 1px solid #ccc;
	border-radius: 5px;
	height: 50px;
	width: 100%;
	resize: none;
	padding: 8px 14px;
	box-sizing: border-box;
	outline: 0;
	font: lighter 22px/30px Verdana, Geneva, sans-serif;
	margin-bottom: 20px;
}

@media screen and (min-width: 900px) {
	.editor-capsule {
		max-width: 480px;
	}
	.actual-editor {
		height: calc(100% - 70px);
	}
}

@media screen and (min-width: 1150px) {
	.editor-capsule {
		max-width: 700px;
	}
}.editor-capsule button {
	margin: 9px 6px;
	background-color: #fff;
	border-radius: 4px;
	padding: 4px 15px;
	width: auto;
	height: auto;
	font: normal 14px/20px Verdana, Geneva, sans-serif;
	opacity: 1;
	transition: background-color 500ms ease, color 500ms ease;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;	
}

button {
	outline: 0;
}

.article-buttons-left,
.article-buttons-right,
.article-buttons-right-bottom {
	top: 0;
	left: 0;
	transform: none;
}

/* colors */
#article-save-as-draft {
	border: 1px solid #999999;
	color: #999999;
}
#article-save-as-draft:hover {
	background-color: #999999;
	color: #ffffff;
}

#article-publish {	
	border: 1px solid #01b701;
	color: #01b701;
}
#article-publish:hover {
	background-color: #01b701;
	color: #fff;
}

.article-buttons-left button {
	border: 1px solid #db9c0a;
	color: #db9c0a;
	margin-right: 0;
    margin-left: auto;
}
.article-buttons-left button:hover {
	background-color: #db9c0a;
	color: #fff;
}

.article-buttons-right button,
.article-buttons-right-bottom button {
	margin-right: auto;
    margin-left: 0;
}

.article-buttons-right-bottom button {
	border: 1px solid #999999;
	color: #999999;
}

.article-buttons-right-bottom button:hover {
	background-color: #dd5d5d;
	border-color: #dd5d5d;
	color: #fff;
}

@media screen and (min-width: 900px) {
	.editor-capsule button {
		display: block;
	}

	.article-buttons-left {
		position: absolute;
		top: 80px;
		left: -20px;
		transform: translateX(-100%);
	}

	.article-buttons-right {
		position: absolute;
		top: 80px;
		right: -20px;
		transform: translateX(100%);
	}

	.article-buttons-right-bottom {
		position: absolute;
		top: auto;
		bottom: 0;
		right: -20px;
		transform: translateX(100%);
	}
}.actual-editor b {
	font-weight: bold;
}

.actual-editor i {
	font-style: italic;
}

.actual-editor h3 {
	font-size: 22px;
	line-height: 32px;
	margin: 35px 0 15px;
	padding: 0;
}