html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	padding: 5vh;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.editor-capsule {
	width: 100%;
	max-width: 100%;
	height: 90vh;
	margin: 0 auto;
	border: 0;
	padding: 1px;
	position: relative;
}

.actual-editor {
	height: calc(100% - 200px);
	width: 100%;
	padding: 14px;
	box-sizing: border-box;
	outline: 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	resize: none;
	font: lighter 16px/24px Verdana, Geneva, sans-serif;
	overflow-y: auto;
}

.actual-editor:active,
.actual-editor:focus,
.article-name:active,
.article-name:focus {
	border: 1px solid #ccc;
	outline: 0px solid transparent;
}

.article-name {
	border: 1px solid #ccc;
	border-radius: 5px;
	height: 50px;
	width: 100%;
	resize: none;
	padding: 8px 14px;
	box-sizing: border-box;
	outline: 0;
	font: lighter 22px/30px Verdana, Geneva, sans-serif;
	margin-bottom: 20px;
}

@media screen and (min-width: 900px) {
	.editor-capsule {
		max-width: 480px;
	}
	.actual-editor {
		height: calc(100% - 70px);
	}
}

@media screen and (min-width: 1150px) {
	.editor-capsule {
		max-width: 700px;
	}
}