.editor-capsule button {
	margin: 9px 6px;
	background-color: #fff;
	border-radius: 4px;
	padding: 4px 15px;
	width: auto;
	height: auto;
	font: normal 14px/20px Verdana, Geneva, sans-serif;
	opacity: 1;
	transition: background-color 500ms ease, color 500ms ease;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;	
}

button {
	outline: 0;
}

.article-buttons-left,
.article-buttons-right,
.article-buttons-right-bottom {
	top: 0;
	left: 0;
	transform: none;
}

/* colors */
#article-save-as-draft {
	border: 1px solid #999999;
	color: #999999;
}
#article-save-as-draft:hover {
	background-color: #999999;
	color: #ffffff;
}

#article-publish {	
	border: 1px solid #01b701;
	color: #01b701;
}
#article-publish:hover {
	background-color: #01b701;
	color: #fff;
}

.article-buttons-left button {
	border: 1px solid #db9c0a;
	color: #db9c0a;
	margin-right: 0;
    margin-left: auto;
}
.article-buttons-left button:hover {
	background-color: #db9c0a;
	color: #fff;
}

.article-buttons-right button,
.article-buttons-right-bottom button {
	margin-right: auto;
    margin-left: 0;
}

.article-buttons-right-bottom button {
	border: 1px solid #999999;
	color: #999999;
}

.article-buttons-right-bottom button:hover {
	background-color: #dd5d5d;
	border-color: #dd5d5d;
	color: #fff;
}

@media screen and (min-width: 900px) {
	.editor-capsule button {
		display: block;
	}

	.article-buttons-left {
		position: absolute;
		top: 80px;
		left: -20px;
		transform: translateX(-100%);
	}

	.article-buttons-right {
		position: absolute;
		top: 80px;
		right: -20px;
		transform: translateX(100%);
	}

	.article-buttons-right-bottom {
		position: absolute;
		top: auto;
		bottom: 0;
		right: -20px;
		transform: translateX(100%);
	}
}